@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: 'Open Sans', sans-serif;
}

label {
  display: block;
  margin-top: 7px;
  margin-bottom: 17px;
}

th {
  padding: 5px;
}

td {
  padding: 3px;
}

input[type=text] {
  padding: 5px;
}

input[type=checkbox] {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchbar {
  width: 100%;
}

.th-descripcion, .th-cantidad {
  background-color: #555;
  color: #FFF;
}

.th-categoria {
  background-color: #F1F1F1;
}

.td-cantidad {
  text-align: center;
}
